html,
body {
    font-family: 'Inter', sans-serif;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

.bg-gradient {
    background: rgb(71, 160, 110);
    background: -moz-linear-gradient(268deg, rgba(71, 160, 110, 1) 0%, rgba(59, 124, 180, 1) 100%);
    background: -webkit-linear-gradient(268deg, rgba(71, 160, 110, 1) 0%, rgba(59, 124, 180, 1) 100%);
    background: linear-gradient(268deg, #47a06e, #3b7cb4);
    background-size: 400% 400%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#47a06e", endColorstr="#3b7cb4", GradientType=1);
    -webkit-animation: gradient 15s ease infinite;
    -moz-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
}

.bg-blue-green {
    background: rgb(71, 160, 110);
    background: -moz-linear-gradient(48deg, rgba(71, 160, 110, 1) 0%, rgba(59, 124, 180, 1) 100%);
    background: -webkit-linear-gradient(48deg, rgba(71, 160, 110, 1) 0%, rgba(59, 124, 180, 1) 100%);
    background: linear-gradient(48deg, #47a06e, #3b7cb4);
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 74%
    }

    50% {
        background-position: 100% 27%
    }

    100% {
        background-position: 0% 74%
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 74%
    }

    50% {
        background-position: 100% 27%
    }

    100% {
        background-position: 0% 74%
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 74%
    }

    50% {
        background-position: 100% 27%
    }

    100% {
        background-position: 0% 74%
    }
}

.v-center {
    display: flex;
    align-items: center;
}

.h-center {
    justify-content: center;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.customScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.customScroll::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.customScroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
}

.input-container {
    transition-duration: 300ms;
}

.input-container:hover {
    background: #e6e6e6;
}

input:-webkit-autofill {
    border: none;
    transition: background-color 5000s ease-in-out 0s;
}

.no-decoration {
    text-decoration: none !important
}

.no-scroll {
    overflow: hidden
}

.errorlist {
    list-style: none;
    padding: 0px;
}

.nav-link {
    color: #3b7cb4;
    transition-duration: 300ms;
}

.nav-link:hover {
    color: #334d59
}

.dropdown-item:focus {
    background: #3b7cb4 !important;
}

.wrapper {
    display: flex;
    min-height: calc(100vh - 66px);
    margin-top: 66px;
}

#sidebar {
    width: 250px;
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    transition-duration: 300ms;
    z-index: 999;
}

#sidenav {
    width: 220px;
}

#sidenav>li {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 0.25rem;
    transition-duration: 300ms;
}

#sidenav>li:hover {
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

#sidenav>li.active {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

#sidenav>li>a {
    color: #A3A3A3;
    text-decoration: none;
    font-size: 1rem;
    transition-duration: 300ms;
}

#sidenav>li:hover>a {
    color: #334d59;
}

#sidenav>li.active>a {
    color: #334d59;
    background: -webkit-linear-gradient(#f44336, #334d59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sidenav>li>a>i {
    padding-right: 0.75rem;
}

#sidenav>li.active>a>i {
    color: #334d59;
    background: -webkit-linear-gradient(#f44336, #c49036);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content {
    width: calc(100vw - 250px);
    margin-left: 250px;
    transition-duration: 300ms;
}

.content.show {
    width: 100vw;
    margin-left: 0px;
}

#sidebar.show {
    margin-left: -250px;
}

@media (max-width: 991.98px) {
    .content {
        width: 100vw;
        margin-left: 0px;
    }

    #sidebar {
        margin-left: -250px;
    }

    #sidebar.show {
        margin-left: 0;
    }
}

.dropdown-menu {
    min-width: 0 !important;
}

.dropdown-item:hover {
    background: #F2F3F7 !important;
    color: #212529 !important;
}

.dropdown-item:active {
    background: #3b7cb4 !important;
    color: white !important;
}

.notifDropDown-item:active {
    background: #F2F3F7 !important;
    color: #212529 !important;
}

#notificationBox {
    min-width: 250px !important;
    max-height: 70vh;
    overflow-y: auto;
}

#notifDot {
    background: #47a06e;
    position: absolute;
    right: -1px;
    top: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.v-scroll {
    white-space: nowrap;
    display: block;
}

.v-scroll>a {
    display: inline-block;
    text-decoration: none
}

/* DASHBOARD PAGE CSS */


.circular-chart {
    max-height: 210px;
}

.statCircle {
    fill: none;
    stroke-width: 0.8;
    stroke-linecap: round;
    animation: progressAnimatiom 0.5s ease-out;
}

@keyframes progressAnimatiom {
    0% {
        stroke-dasharray: 0 100;
    }
}


.circular-chart.white .statCircle {
    stroke: white;
}

.statPercentage {
    transform: translateX(1px);
    fill: white;
    font-weight: 300;
    font-size: 0.5rem;
    text-anchor: end;
}

.statPercentageTotal {
    transform: translateX(1px);
    fill: white;
    font-weight: 300;
    font-size: 0.2rem;
    text-anchor: start;
}

@media (min-width: 992px) {
    .circular-chart {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.hideStat {
    display: none !important;
}

.dashModalBody {
    animation: modalShow 300ms;
}

@keyframes modalShow {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

.dashModalContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
}

.dashModalContainer.show {
    display: block;
}

.bg-translucent {
    background: rgba(0, 0, 0, .5);
}

/* COURSE PAGE CSS */
.select-side {
    pointer-events: none;
}

.semContainer {
    width: 15%;
}

.coursePanel>li>a {
    color: #999999;
    transition-duration: 300ms;
}

.coursePanel>li>a:hover {
    color: #334d59;
}

.coursePanel>li.disabled>a:hover {
    color: #999999;
}

.coursePanel>li>a.active {
    color: #47a06e;
}

.coursePanel>li {
    display: flex;
    align-items: center;
}

.dataTables_info {
    padding: 0 !important;
}

.dataTables_length>label {
    margin: 0;
}

#courses-table {
    border-collapse: separate;
    border-spacing: 0px 15px;
}

#courseTableHead>tr {
    background: white;
}

#courses-table>tbody>tr {
    background: white;
}

#courses-table>tbody>tr>td {
    border: none;
    border-color: #999999;
    white-space: nowrap;
    padding: 11px 20px;
    font-weight: 300;
    font-size: 0.9rem;
    transition-duration: 300ms;
}

#courses-table>tbody>tr>td:first-child {
    border-left-style: solid;
}

#courses-table>tbody>tr>td:last-child {
    border-right-style: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#courses-table>tbody>tr:hover>td {
    box-shadow: 0rem 0rem 5rem rgba(0, 0, 0, .1) !important;
    border-color: #47a06e;
}

#courseTableHead>tr>th {
    border: none !important;
    white-space: nowrap;
    padding: 14px 20px;
    /* box-shadow: 0rem 0rem 5rem rgba(0, 0, 0, .1) !important; */
    font-weight: 400;
    transition-duration: 300ms;
    min-width: 120px;
}

#courseTableHead>tr>th:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-width: 0;
}

#courseTableHead>tr>th:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

table.dataTable thead .sorting::before,
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_desc::before,
table.dataTable thead .sorting_asc_disabled::before,
table.dataTable thead .sorting_desc_disabled::before {
    right: 1.5em;
    /* Up arrow */
    content: "\25B2";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f106";
    bottom: 22px;
}

table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after,
table.dataTable thead .sorting_asc_disabled::after,
table.dataTable thead .sorting_desc_disabled::after {
    /* Down arrow */
    content: "\25BC";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    bottom: 10px;
    right: 1.5em
}

/* Active sort icon */
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_desc::after {
    color: #47a06e;
}

.courseLink {
    color: #3b7cb4;
    transition-duration: 300ms;
}

.courseLink:hover {
    color: #334d59
}

#courses-table_paginate>ul>li>a {
    color: #3b7cb4;
    font-size: 0.9rem
}

#courses-table_paginate>ul>li.disabled>a {
    color: #6c757d;
}

#courses-table_paginate>ul>li.active>a {
    background: #3b7cb4;
    border-color: #3b7cb4;
    color: white;
}

#courses-table_length>label {
    font-size: 0.9rem;
}

#courses-table_length>label>select {
    font-size: 0.9rem;
    border: none;
}

#courses-table_length>label>select>option {
    padding: 20px;
}

@media (max-width: 991.98px) {
    .coursePanel>li>a {
        display: inline;
    }

    .coursePanel>li>a.active {
        display: none;
    }

    .semContainer {
        width: 50%;
    }

    #courses-table_paginate>ul {
        justify-content: start
    }
}

/* DELETE REG TABLE CSS */
#reg-courses-table {
    border-collapse: separate;
    border-spacing: 0px 15px;
}

#regCourseTableHead>tr {
    background: white;
}

#reg-courses-table>tbody>tr {
    background: white;
}

#reg-courses-table>tbody>tr>td {
    border: none;
    border-color: #999999;
    white-space: nowrap;
    padding: 11px 20px;
    font-weight: 300;
    font-size: 0.9rem;
    transition-duration: 300ms;
}

#reg-courses-table>tbody>tr>td:first-child {
    border-left-style: solid;
}

#reg-courses-table>tbody>tr>td:last-child {
    border-right-style: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#reg-courses-table>tbody>tr:hover>td {
    box-shadow: 0rem 0rem 5rem rgba(0, 0, 0, .1) !important;
    border-color: #47a06e;
}

#regCourseTableHead>tr>th {
    border: none !important;
    white-space: nowrap;
    padding: 14px 20px;
    /* box-shadow: 0rem 0rem 5rem rgba(0, 0, 0, .1) !important; */
    font-weight: 400;
    transition-duration: 300ms;
    min-width: 120px;
}

#regCourseTableHead>tr>th:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-width: 0;
}

#regCourseTableHead>tr>th:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

table.dataTable thead .sorting::before,
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_desc::before,
table.dataTable thead .sorting_asc_disabled::before,
table.dataTable thead .sorting_desc_disabled::before {
    right: 1.5em;
    /* Up arrow */
    content: "\25B2";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f106";
    bottom: 22px;
}

table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after,
table.dataTable thead .sorting_asc_disabled::after,
table.dataTable thead .sorting_desc_disabled::after {
    /* Down arrow */
    content: "\25BC";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    bottom: 10px;
    right: 1.5em
}

/* Active sort icon */
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_desc::after {
    color: #47a06e;
}

.courseLink {
    color: #3b7cb4;
    transition-duration: 300ms;
}

.courseLink:hover {
    color: #334d59
}

#reg-courses-table_paginate>ul>li>a {
    color: #3b7cb4;
    font-size: 0.9rem
}

#reg-courses-table_paginate>ul>li.disabled>a {
    color: #6c757d;
}

#reg-courses-table_paginate>ul>li.active>a {
    background: #3b7cb4;
    border-color: #3b7cb4;
    color: white;
}

#reg-courses-table_length>label {
    font-size: 0.9rem;
}

#reg-courses-table_length>label>select {
    font-size: 0.9rem;
    border: none;
}

#reg-courses-table_length>label>select>option {
    padding: 20px;
}

@media (max-width: 991.98px) {
    .coursePanel>li>a {
        display: inline;
    }

    .coursePanel>li>a.active {
        display: none;
    }

    .semContainer {
        width: 50%;
    }

    #reg-courses-table_paginate>ul {
        justify-content: start
    }
}

.gradeTable {
    border-collapse: separate;
    border-spacing: 0px 15px;
}

.gradeTableHead>tr {
    background: white;
}

.gradeTableHead>tr>th {
    border: none !important;
    white-space: nowrap;
    padding: 14px 20px;
    font-weight: 400;
    transition-duration: 300ms;
    width: 150px;
}

.gradeTableHead>tr>th:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 150px;
}

.gradeTableHead>tr>th:nth-child(2) {
    width: auto;
}

.gradeTableHead>tr>th:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.gradeTableBody>tr {
    background: white;
}

.gradeTableBody>tr>td {
    border: none;
    white-space: nowrap;
    padding: 11px 20px;
    font-weight: 300;
    font-size: 0.9rem;
    transition-duration: 300ms;
}

.gradeTableBody>tr>td:first-child {
    border-left-style: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.gradeTableBody>tr>td:last-child {
    border-right-style: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.gradeTableBody>tr:not(:last-child):hover>td {
    box-shadow: 0rem 0rem 5rem rgba(0, 0, 0, .1) !important;
}

.jqs-period-time,
.jqs-period-title {
    padding: 0.125rem 0 0.05rem 0.20rem;
}

@media (max-width: 991.98px) {

    .jqs-period-time {
        padding: 0;
    }

    .jqs-period-title {
        display: none;
    }
}